* {
  box-sizing: border-box;
}

/* pozadí s přechodem*/

html {
  background: linear-gradient(#615dad, #ffc8da) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* flexibilní obrázek se zahlými rohy nahoře*/

.image {
  border-radius: 1.7% 1.7% 0 0;
  flex-basis: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 3rem;
  padding: 0;
  margin: 1.5rem;
}


.mainpart {
  background-color: #283e50;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-size: 1.2rem;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  background-color: #1fcca4;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
}

.button1:hover {
  background-color: #1cbb96;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  background-color: #0197f6;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
}

.button2:hover {
  background-color: #0090e9;
}

.container {
  display: flex;
  flex-direction: column;
  width: 29vw;
  height: auto;
  margin: 10vh auto;
  text-align: center;
}

/* jiný způsob nastavení na střed, který jsem nepoužila
  width: 29%;
  height: auto;
  text-align: center;
  margin: auto;
  position: relative;
  top: 2.7rem;
  text-align: center;
*/

@media all and (max-width:600px) {
  .mainpart {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3rem;
  }

  .container {
    width: 75%;
  }
}

/* nastavení query*/

@media only screen and (min-width: 600px) and (max-width:1200px) {
  .mainpart {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3rem;
  }

  .container {
    width: 50%;
  }
}
